<!-- <table>
    <tr>
        <td>Topic: </td>
        <td><input [(ngModel)]="topicName" type="text" /></td>
        <td *ngIf="!subsTopic"><button type="button" (click)="suscribirseAtopic()">Suscribirse</button></td>
        <td *ngIf="subsTopic"><button type="button" (click)="cancelarSuscripcion()">Cancelar suscripcion</button></td>
    </tr>
    <tr>
        <td>Mensaje: </td>
        <td><input [(ngModel)]="message" type="text" /></td>
        <td><button type="button" (click)="enviarMensaje()">Enviar</button></td>
    </tr>
</table> -->

<app-inicio></app-inicio>